# Dependencies
node_modules/

# Build output
dist/

# Env
.env
.env.*.local

# Logs
*.log
npm-debug.log*

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Prisma
prisma/migrations/dev.db

# Testing
coverage/
